{% extends "costcomp/base.html" %}

{% block title %}
Counsoler Details
{% endblock %}

{% block body %}
    <ul>
        <h1>{{counsoler.first}} {{counsoler.last}}</h1>
        <li>Salary: {{counsoler.salary}}</li>
        <li>Guaranteed: {{counsoler.guaranteed}}</li>
        <li>Total: {{counsoler.total}}</li>
        <li>
            Workloads:
            <ul>
                {% for enrollment in enrollments %}
                    <li>{{enrollment}}</li>
                {% empty %}
                    <li>No Workloads</li>
                {% endfor %}
            </ul>
         </li>
            
         <li>Total Cost:{{totalCost}}</li>
         <h3>Cost to Salary Difference: {{CSDiff}}</h3>

    </ul>
    <form action="{% url 'counsoler' counsoler.id%}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>   
    <a href='{% url "index" %}'>Back to counsoler list</a>
{% endblock %}
