{% extends "costcomp/base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static "costcomp/index.css" %}"/>
{% endblock %}


{% block title %}
Counsoler List
{% endblock %}

{% block body %}
<nav class="navbar navbar-default fixed-top">
    <div class="container">

        <ul class="col-12">

            <li><div>Current User: {{user.first_name}} {{user.last_name}}</div></li>
            <li class="float-right"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>
   <div class= "container">

        <br/>
        <h1>Counsolers</h1>
        <br/>
        <table class="table table-hover">
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-3">Counsoler</th>
                    <th scope="col" class="col-3">Role</th>
                    <th scope="col" class="col-3">Salary</th>
                    <th scope="col" class="col-3">Guarantee</th>
                </tr>
            </thead>
            <tbody>
            {% for counsoler in counsolers %}
            <a href="{% url 'counsoler' counsoler.id %}">
            <tr class="d-flex" onclick="window.location='{{counsoler.id}}';">
                <th scope="row" class="col-3">
                    {{counsoler.first}} {{counsoler.last}}
                </th>
                <td class="col-3">{{counsoler.level}}</td>
                <td class="col-3">{{counsoler.salary}}</td>
                <td class="col-3">{{counsoler.guaranteed}}</td>
            </tr>
            {% endfor %}
            </tbody>
       </table>
   </div>
{% endblock %}
