{% extends "costcomp/base.html" %}

{% block title %}
Counsoler List
{% endblock %}

{% block body %}
    <h2>Counsoler List</h2>
    
    <table>
        <tr>
            <th>Counsoler</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Guarantee</th>
        </tr>    
        {% for counsoler in counsolers %}
        <tr>
            <td>
                <a href="{% url 'counsoler' counsoler.id %}">
                {{counsoler.firstName}} {{counsoler.lastName}}
                </a>
            </td>
            <td>{{counsoler.level}}</td>
            <td>{{counsoler.salary}}</td>
            <td>{{counsoler.guaranteed}}</td>
        </tr>
        {% endfor %}
{% endblock %}
